<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícia</title>
		</head>
	<body>
		<div class='header'>
			<h1 class='title'>Notícia</h1>
		</div>
		<div class='wrapper'>
			<table>		
				<tr>
					<td>ID</td>
					<td>Título</td>
					<td>Notícia</td>
				</tr>
					<tr>
						<td><%= noticia[0].id_noticia %></td>
						<td><%= noticia[0].titulo %></td>
						<td><%= noticia[0].noticia %></td>
					</tr>
			</table>
		</div>
	</body>
</html>