<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			
			<tr>
				<td>ID</td>
				<td>Título</td>
			</tr>
			<% for(var i = 0; i < noticias.length; i++){ %>
				<tr>
					<td><%= noticias[i].id_noticia %></td>
					<td><%= noticias[i].titulo %></td>
				</tr>
			<% } %>

		</table>

	</body>
</html>